doctype html
html
  title common-component
  link(rel='stylesheet', type='text/css', href='./css/styles.css')
  script(scr='./scripts/gallery-controller.js')

  body
    .title
      h1.hero this is a common component

