doctype html
html
  head
    title hayoosh
    link(rel='stylesheet', type='text/css', href='../css/styles.css')
    //- script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2')
    script(type='text/javascript', src='bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='./scripts/gallery-controller.min.js')

  body
    .gallery-container gallery-container
      .title
        #user-greeting greeting text
        h1.hero Image Gallery
        p.hero Scroll to browse the image gallery
      .gallery
        .gallery__item.gallery__item--selecte__item 1
        .gallery__item 2
        .gallery__item 3
        .gallery__item 4
        .gallery__item 5
      .gallery-controller
        .gallery__button.gallery__button--left left
        .gallery__button.gallery__button--right right
