//- script(type='text/javascript', src='./gallery-controller.min.js')

link(rel='stylesheet', type='text/css', href='../gallery/gallery.css')

.gallery-container
      .title
        h1.hero Image Gallery
        p.hero Swipe to browse the gallery
      ul#gallery
        li.gallery__item.gallery__item--1 0
        li.gallery__item.gallery__item--2 1
        li.gallery__item.gallery__item--3 2
        li.gallery__item.gallery__item--4 3
        li.gallery__item.gallery__item--5 4
        li.gallery__item.gallery__item--1 0+
      .gallery-controller
        .gallery__button.gallery__button--left
        .gallery__button.gallery__button--right
      p.counter counter
